.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: #242526;
  color: var(--ifm-font-color-base-inverse);
}

.featureSvg {
  height: 60px;
  width: 60px;
}
